@import 'shared/style';

.loft-taxi-order-form {
  .loft-taxi-form {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 30vw;
    padding: 3vh 2vw;
    z-index: 1;

    .__selected {
      border-color: $field-active;
    }
  }
  .loft-taxi-form-submit {
    margin: 0px;
    width: 100%;
    justify-content: center;
  }

  &-destination-selector {
    &__control {
      border: none !important;
      border-radius: 0px !important;
      border-bottom: 2px solid $field-inactive !important;
      &--is-focused {
        box-shadow: none !important;
      }
    }
    &__indicator-separator {
      width: 2px !important;
      background-color: $field-inactive !important;
    }
  }

  &-add-destination-button {
    justify-content: center;
    flex-grow: 1;
    img {
      width: 16px;
      height: 16px;
      opacity: 0.3;
      margin: 0 8px;
    }
  }
}
