@import '../style';

.loft-taxi-button {
  font-size: 14px;
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: none;
  outline: 0px;
}

.loft-taxi-button > * {
  margin-left: 5px;
  margin-right: 5px;
}
