@import '../style';

.loft-taxi-button {
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: 0px;
  color: $text-color;
  > * ~ * {
    margin-left: 0.5em;
  }
  &:disabled {
    opacity: 0.5;
  }
}
