@import '../../shared/style';

.loft-taxi-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
}
.loft-taxi-header-page {
  height: 4vh;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2vw;
  border-radius: 5px;
  background: none;
}
.loft-taxi-page-selected {
  background-color: $color-secondary;
}
.loft-taxi-logo {
  margin: 1vh 2vw;
  flex-grow: 1;
}
