@import 'shared/style';

.loft-taxi-profile {
  position: absolute;
  top: $header-height;
  left: 0;
  width: 100vw;
  height: 100vh - $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  .loft-taxi-page-title {
    color: white;
    background-color: $page-background-color;
    padding: 1em;
    font-size: 5em;
    z-index: 1;
  }
}
