$color-primary: #ffc700;
$color-secondary: #f2f2f2;
$anchor-color: #0074ea;
$field-active: #7cbdff;
$field-inactive: #ebebeb;
$field-warning: #fec46e;
$field-error: #ffb3b3;
$text-color: #2e2e2e;
$text-color-secondary: #757575;
$text-color-warning: #ff9029;
$text-color-error: #ff2929;
$page-background-color: #2e2e2e;

$header-height: 6vh;
