@import '../style';
@import '../Button/style';

%input-props {
  color: $text-color;
  border: none;
  border-bottom: solid 2px $field-inactive;
  padding: 0.2em;
}

.loft-taxi-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  font-size: 1em;
}

.loft-taxi-form-header {
  display: flex;
  flex-wrap: wrap;
  padding: 2vh 0px;
  font-size: 0.8em;
}

.loft-taxi-form-link {
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  cursor: pointer;
  font-weight: bold;
  background: none;
  color: $anchor-color;
  align-content: baseline;
  padding: 0px;
}

.loft-taxi-form-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2vh;
  width: 100%;
}

.loft-taxi-form-col {
  flex-grow: 1;
}

.loft-taxi-form-group {
  display: flex;
  flex-flow: column;
  label {
    color: $text-color-secondary;
  }
  input,
  button {
    @extend %input-props;
    outline: 0px;
  }
  input:focus {
    border-color: $field-active;
  }
  input:invalid {
    border-color: $field-error;
  }
}

.loft-taxi-form-submit {
  @extend .loft-taxi-button;
  background-color: $color-primary;
  margin-left: auto;
  font-weight: bold;
}

.loft-taxi-form-sep {
  flex-grow: 0;
  align-items: center;
  width: 2px;
  height: 20px;
  margin-top: 8px;
  margin-bottom: 10px;
  background-color: $field-inactive;
}
