@import '../style';

%input-props {
  color: $text-color;
  border: none;
  border-bottom: solid 2px $field-inactive;
  margin: 1vh 0px;
  padding: 0.2em;
}

.loft-taxi-input-label {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: $text-color-secondary;
}

.loft-taxi-input-label-content {
  width: 100%;
  display: flex;
}

.loft-taxi-input-required {
  color: $field-error;
  font-weight: bold;
}

.loft-taxi-input {
  width: 100%;
  display: flex;
  input {
    width: 100%;
    @extend %input-props;
    outline: 0px;
  }
  input:focus {
    border-color: $field-active;
  }
  input:invalid {
    border-color: $field-error;
  }
}

.loft-taxi-input-button {
  @extend %input-props;
  flex-grow: 0;
  color: $text-color-secondary;
  align-self: flex-end;
  background: none;
  border-radius: 0px;
  img {
    width: 1em;
    height: 1em;
    padding-bottom: 0.2em;
    opacity: 0.3;
  }
  &:disabled {
    opacity: 1;
    img {
      opacity: 0;
    }
  }
}
input:focus ~ .loft-taxi-input-button {
  border-color: $field-active;
}
input:invalid ~ .loft-taxi-input-button {
  border-color: $field-error;
}
