@import 'shared/style';

.loft-taxi-map {
}

.loft-taxi-map-container {
  width: 100%;
  height: 100vh - $header-height;
}

.loft-taxi-order-form {
  .loft-taxi-form {
    position: absolute;
    top: 10vh;
    left: 20vw;
    width: 20vw;
    padding: 3vh 2vw;
    z-index: 1;

    .__selected {
      border-color: $field-active;
    }
  }
}
